{% extends 'base.html' %}
{% block content %}
<div class="row mt-5">

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/images/album/Cemre Gülcin 1.jpg">
          <img src="/static/images/album/Cemre Gülcin 1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="\static\images\album\Eren 1.jpg">
          <img src="\static\images\album\Eren 1.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="\static\images\album\Gülcin 1.jpg">
          <img src="\static\images\album\Gülcin 1.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
