<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/assets/css/animate.css">
  <!-- <link rel="stylesheet" href="/static/assets/css/style.css"> -->
  <link rel="stylesheet" href="/static/assets/css/media-queries.css">
  <link rel="stylesheet" href="/static/assets/css/carousel.css">

  <!-- Favicon and touch icons -->
  <!-- <link rel="shortcut icon" href="assets/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"> -->


  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="/static/bootstrap-4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bootstrap-4.1.3/js/bootstrap.min.js">
  <link rel="stylesheet" href="/static/fontawesome-free-5.12.1-web/css/all.css">
  <link rel="stylesheet" href="/static/fontawesome-free-5.12.1-web/js/all.js">
  <link rel="stylesheet" href="/static/jquery-3.4.1.min.js">
  <!-- <link rel="stylesheet" href="./static/MDB-Free_4.13.0/css/mdb.min.css">
  <link rel="stylesheet" href="./static/MDB-Free_4.13.0/css/mdb.css"> -->
  <title>Grup Hepsi</title>
</head>

<body style=" background-color: #97516E">
  <div class="container-fluid">
    {% include "header.html" %}
    <div class="container-fluid px-5 mb-5">
      {% block content %}
      {% endblock content %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </div>
</body>

</html>
