{% extends 'base.html' %}
{% block content %}

<div class="row mt-5">
  <div class="col-7">
    <strong><span class="style2">Eren Bakici</span></strong><br />
    1984 te İstanbul&#39;da doğdu. Mimar Sinan Güzel Sanatlar Üniversitesi Devlet
    Konservatuarı Bale Bölümünde orta öğretim ve liseyi bitirdi.Aynı okulda Modern
    Dans eğitimi görüyor. Atatürk Kültür Merkezi Çocuk ve Gençlik Balesinin
    sergilediği oyunlarda altı yıl boyunca rol aldı. Londra da Urdang Dance Academy
    de ve Budapeşte Dans okulundaeğitim aldı. Dans grubu ; Dans ; ile Çin&#39;de
    Ülkemizi temsil etti. Reklam jingleları seslendirdi. Britney Spears ve Michel
    Jackson gibi dünya yıldızlarıyla çalışan Selatin Kara yla bir aylık workshop
    çalışması yaptı.Yıldızların altında müzikalinde sahne aldı.<br />
    <br />
  </div>
  <div class="col-5">
      <img src="/static/images/eren10.jpg" class="img-fluid" alt="Responsive image">
  </div>
</div>
<div class="row mt-5">
  <div class="col-7">
    <strong><span class="style2">Cemre Kemer</span></strong><br />
    1985 te İstanbul&#39;da doğdu. Mİmar Sinan Güzel Sanatlar Üniversitesi Devlet
    Konservatuarı Bale Bölümünde ortaöğretimin ve liseyi bitirdi. Aynı okulda Klasik
    Bale eğitimine devam ediyor. Atatürk Kültür Merkezi Çocuk ve Gençlik Balesinin
    sergilediği oyunlarda beş yıl boyunca rol aldı. Kliplerde oyunculuk yaptı.
    Reklam jingle leri seslendirdi. Özel şan ve piyano dersleri aldı.<br />
    <br />
  </div>
  <div class="col-5">
      <img src="/static/images/cemre10.jpg" class="img-fluid" alt="Responsive image">
  </div>
</div>
<div class="row mt-5">
  <div class="col-7">
    <strong><span class="style2">Yasemin Yürük</span></strong><br />
    1986 da İstanbul&#39;da doğdu. Mimar Sinan Güzel Sanatlar Üniversitesi Devlet
    Konservatuarı Bale Bölümünde ortaöğretim ve liseyi bitirdi. İstanbul
    üniversitesi Devlet Konservatuarı Bale Bölümünde Klasik Bale eğitimini
    sürdürüyor. ATATÜRK Kültür Merkezi Çocuk ve Gençlik Balesinin sergilediği
    oyunlarda üç yıl boyunca rol aldı. Özel şan ve piyano dersleri aldı. Reklam
    jingle leri seslendirdi. Tiyatro dersleri aldı.<br />
    <br />
  </div>
  <div class="col-5">
      <img src="/static/images/yasemin10.jpg" class="img-fluid" alt="Responsive image">
  </div>
</div>
<div class="row mt-5">
  <div class="col-7">
    <strong><span class="style2">Gülçin Ergül</span></strong><br />
    1985 te İstanbul&#39;da doğdu. Mimar Sinan Güzel Sanatlar Üniversitesi Devlet
    Konservatuarı Bale Bölümde o ortaöğretim ve liseyi bitirdi. Aynı okulda Modern
    Dans eğitimine devam ediyor. Atatürk Kültür Merkezi Çocuk ve Gençlik Balesi nin
    sergilediği oyunlarda yedi yıl boyunca rol aldı.Reklam jingle larıseslendirdi.
    Özel şan piyano ve Hip Hop dans dersleri aldı. ATATÜRK Kültür Merkezi Çocuk
    Korusunda yer aldı.
  </div>
  <div class="col-5">
      <img src="/static/images/gülcin10.jpg" class="img-fluid" alt="Responsive image">
  </div>
</div>


{% endblock content %}
