

<div class="container-fluid mt-3" style="font-size: 23px">
  <nav class="navbar navbar-expand-lg navbar-light navbar-trans">
    <a class="navbar-text" style="font-size: 23px" href="{% url 'Startpage' %}">GRUP HEPSI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="{% url 'Startpage' %}">HOME <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{% url 'BiyografilerView' %}">BIYOGRAFILER</a>
        <a class="nav-item nav-link" href="{% url 'ResimlerView' %}">RESIMLER</a>
      </div>
    </div>
  </nav>
</div>

<!-- <div class="row mb-5" style="font-size:21px">
    <div class="col-6 text-left">
      <a class="text-dark" href="{% url 'Startpage' %}">KENAN SEZGIN</a>
    </div>
    <div class="col-6 text-right">
      <a class="text-dark" href="{% url 'Startpage' %}">HOME</a>
      <a class="text-dark" href="#">CONTACT</a>
      <a class="text-dark" href="#">ABOUT</a>
    </div>
  </div> -->
