{% extends 'base.html' %}
{% block content %}

<!-- Top content -->
<!-- <div class="top-content"> -->

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-4">
      <img src="/static/images/HepsiLinse.bmp" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-2">
      <div class="mb-2" style="width: 100px; height: 30px; border: 2px black solid; text-align: center; font-size: 16pt">
        <p>Eren</p>
      </div>
      <img src="/static/images/Eren2.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-2">
      <div class="mb-2" style="width: 100px; height: 30px; border: 2px black solid; text-align: center; font-size: 16pt">Yasemin
      </div>
      <img src="/static/images/Yasemin2.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-2">
      <div class="mb-2" style="width: 100px; height: 30px; border: 2px black solid; text-align: center; font-size: 16pt">Gülcin
      </div>
      <img src="/static/images/Gülcin2.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-2">
      <div class="mb-2" style="width: 100px; height: 30px; border: 2px black solid; text-align: center; font-size: 16pt">Cemre
      </div>
      <img src="/static/images/Cemre2.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>
<!-- </div> -->


{% endblock content %}
